*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 7rem;
    text-align: center;
    color: white;
    margin:0;
    line-height: 0;
    &:nth-of-type(5){
        color: #F5EFD6;
    }
}

@media only screen and (max-width: 600px) {
    p {
      font-size: 3.5rem;
    }
  }